*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}


body{
	font-family: 'Poppins', sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background:blue; 
	color: #fff;

	position: fixed;
	top: 0;
	left:0;
	z-index: 100;
}


h1{
	float: left;
}

header .contenedor{
	display: table;
}

#menu-bar{
	display: none;
}

header label{
	float: center;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}

.menu{
	position: absolute;
	top: 50px;
	left: 100;

	width: 100%;
	height: 100vh;
	background: blue;

	transition: all .5s;
	transform: translateX(-100%);
}

.menu a{
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border: 1px solid #fff;
}


.menu a:hover{
	background: aqua;
}


#menu-bar:checked ~.menu{
	transform: translateX(0%);
}



#banner{
	margin-top: 50px;
	position: relative;
}

#banner img{
	width: 100%;
	height: 100%;
}

#banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(30%) translateY(-95%);
	color: rgba(212, 16, 16, 0.527);
}

#banner h2{
	font-size: 28px;
}

#banner a{
	display: block;
	width: 100px;
	color: rgba(212, 16, 16, 0.527);
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	border: 3px solid rgb(97, 4, 4);
}

#banner a:hover{
	background: rgba(255,255,255,.5);
}

#bienvenidos h2{
	padding: 15px;
	text-transform: uppercase;
}

 #bienvenidos h2{
    padding: 15px;
    text-transform: uppercase;
 }
 #servicios {
    padding: 50px;
 }
 #servicios h3{
    text-align: center;
    color: black;
 }
 #servicios h4{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
 }
 #servicios .contenedor{
    display: flex;
    justify-content: center;
    flex: wrap;
 }
 #servicios article{
    margin: 16px;
 }
 #servicios img{
    width: 100%;
    max-width: 400px;
 }
#Productos{
    background: blue;
    color:white ;
    text-align:center;
    padding: 40px;
}
#Productos h1{
    text-align: center;
    color: aqua;
}
#Productos h2{
    padding: 15px;
    text-transform: uppercase;
}
#Productos .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-mascota{
margin: 60px;
}
.info-mascota img{
    width: 200px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid white;
}

#Guarderia{
    background: white;
    color: black;
    text-align: center;
    padding: 20px;
}
#Guarderia h1{
    text-align: center;
    
}
#Guarderia .contenedor{
    display:flex;
    flex-wrap: flex;
    justify-content: center;
    text-align:left;
}
#Guarderia img{
    width: 150px;
    max-width: 200px;
    border-radius: 50%;
    border: 2px solid black;
    height: 100 vh;
    margin: 0 auto;
    
}
#Promociones{
    background: blue;
    color: aqua;
    text-align: center;
    padding: 20px;
}
#Promociones h1{
    text-align: center;
}
#Promociones .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Promociones img{
    width: 150px;
    max-width: 200px;
    border-radius: 50%;
    border: 7px solid white;

}
#ubicacion{
    background-color: white ;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
}
#ubicacion h1{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
#ubicacion .contenedor{
    display: flex;
    padding: 35px;
    flex-wrap:wrap ;
    justify-content: center;
}
#ubicacion .contenedor iframe{
    width: 70%;
     border-radius: 10px solid black;
}
#ubicacion .contenedor p{
    padding: 40px;
    width: 50;
    text-align: center;
    
}
footer{
    background:blue;
}
footer .contenedor{
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    padding: 30px;
    color: white;
}
.copy{
    font-size: 20;
    padding: 30px;
}
.red-social{
    width: 100%;
    text-align: center;
    font-size: 30px ;
}
.red-social a{
    color: aliceblue;
    text-decoration: dashed;
}
/*celular*/
@media (min-width:420px){
    .menu{
        background: rgba(51, 51, 51, 9);
        width: 100%;
        height: auto;
    }
    #banner h2{
        font-size: 40px;
    }
    #banner img{
        height: auto;
        margin-top: -100px;
    }
    #banner a{
        margin-top:25px ;
    }
    /*tablets*/
}
@media (min-width: 768px){
    .menu{
        background: rgba(51,51,51, .9);
        width: 100%;
        height: auto;
    }
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img{
        height: auto;
        margin-top: -100px;
    }
    .info-mascota{
        width: 40%;
    }
    .red-social{
        width: auto;
        font-size: 28px;
        padding: 10px;
    }
    footer .contenedor{
        justify-content: space-between;
    }
}
/*computador*/

@media(min-width: 1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background: #2b6c16;
    }
    .menu a{
        border: none;
    }
    header label{
        display: none;
    }
    #banner img{
        margin-top: -200px;
    }
    .info-mascota{
        width: auto;
    }
}